.Header {
  background-color: #fff;
  padding: 0;
  display: flex;
}

.Header a {
  color: rgba(0, 0, 0, 0.65);
}

  .Right {
    margin-left: auto;
  }

.SiderItem {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.65);
}

.HeaderIcon {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.HeaderIcon:hover {
  color: #1890ff;
}

.Logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}